<h1>New task</h1>

<%= link_to 'Back', projects_path, class: 'btn btn-secondary mb-3 ' %>
<div class='card w-75 '>
  <div class='card-body'>
    <h2 class='card-title  mb-4'>
        <span>New Project</spam>
    </h2>
        <%= render 'form' %>
  </div>
</div>







<%= render 'form' %>

<%= link_to 'Back', project_tasks_path(@task.project) %>
