<%= link_to 'Back', @project, class: 'btn btn-secondary mb-3 ' %>
<div class='card w-75 '>
  <div class='card-body'>
    <h2 class='card-title  mb-4'>
        <span>Edit Project</spam>
    </h2>
        <%= render 'form', project: @project %>
  </div>
</div>
