// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


 .task-card {
 	transition: background-color 0.5s ease;
 	&:hover {
 	background-color: violet;
 	}
 } 